


.button {
    background-color: transparent;
    text-decoration: none;
    border-style: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em 0.3em;
    outline: 0;
}

.resultList:before {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    background: #fff;
    top: -0.5em;
    transform: rotateZ(45deg);
    left: 50%;
    z-index: -1;
}
.resultList {
    position: absolute;
    top: 3.4rem;
    right: 7em;
    z-index: 10000;
    display: none;
}

@media only screen and (max-width: 600px) {
    .resultList {
        top: 3.4rem;
        right: 4em;
    }
}

.resultList div {
    display: flex;
    flex-direction: column;
    padding: .5em 0;
    justify-content: flex-start;
    width: 30em;
    z-index: 1000;
    background: #fff;
    max-height: 30em;
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    height: auto;
    overflow-y:scroll;
}
input:focus + .resultList, .resultList:hover {
    display: flex;
}

.resultListElement {
    padding: 0.5em 2em;
    margin: 0;
    text-align: left;
    position: relative;
}
.resultListElement:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1em;
    width: calc(100% - 2em);
    height: 1px;
    background: #ccc;
}

.resultListElement:hover{ 
    
    background-color: #f5f5f5;
}

.resultListElement:hover:after{
    background: #155a85;
}

select {
    background-color: #155a85 !important;
    width: 7em !important;
    height: 30px !important;
    color: white !important;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.25em 0.5em;
    box-sizing: content-box;
    border: none;
    outline: none;
    border-radius: 0.25em;
}


