.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mapboxgl-popup {
  background-color: #282c34;
  padding: 0.7rem;
  border-radius: .5rem;
}

.mapboxgl-popup div{
  line-height: 1.5rem;
}


.mapboxgl-popup-close-button{
  border: none;
  text-decoration: none;
  background-color: transparent;
  size: 300%;
}

.mapboxgl-popup-close-button:active {
  border:none;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mapContainer {
  height: 700px;
  width: 100%;
  max-width: 1500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
