.App {
  text-align: center;
}
body {
  background: linear-gradient(45deg, rgb(4 6 19) 0%, rgb(37 42 80) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, background-color 0.3s ease-in;
  background-color: rgba(255,255,255 0);
}
.fetchingIndicator {
  width: 30rem;
  height: 30rem;
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgb(18 16 35) 0%, rgb(24 49 97) 100%);
  z-index: 100000;
  color: #fff;
  transform: translateX( -50% ) translateY(-50%);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5rem rgb(16 16 47);
  font-size: 1.5em;
}
.hidden {
  display: none;
}
.visible {
  visibility: visible;
  opacity: 1;
  background-color: #fff;
}
.fetchingIndicator div {
  margin-bottom: 5rem;
}
.subtext {
  opacity: 0.5;
  font-size: 1rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mapboxgl-popup-content h3 {
  margin: 0.5em 0;
}
.mapboxgl-popup-content div {
  display: flex;
  flex-direction: column;
}

.mapboxgl-ctrl-attrib {
  display: none;
}

.mapboxgl-canvas {
  outline: none;
}

.App-link {
  color: #61dafb;
}

.mapContainer {
  height: 100vh;
  flex-shrink: 1;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  /* max-width: 1500px; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-header {
  display: flex;
  background-color: #082e46;
  padding: 0px 150px;
  color: white;
  width: 100%;
  height: 8rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.bottom-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.top-group {
  width: 100%;
  display: flex;
  margin-bottom: 0.5em;
}
.tab-group span {
  display: flex;
  align-items: center;
  margin-right: 1em;
}
/* .app-title {
  width: 20%;
} */

.app-tab {
  display: flex;
  flex-wrap: wrap;
  width: 35em;
}

.header-search-input {
  height: 21px;
  margin-left: 0;
  border-radius: 0.25em;
  border: none;
  margin-right: 1em;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  flex-shrink: 1;
  padding: 0.5em 1em;
}

.header-search-input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.header-search-bar {
  display: flex;
  width: 100%;
  position: relative;
}

.item-tab {
  padding: 0 10px;
  width: 50px;
  text-align: center;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
}
.item-tab:hover {
  background-color: #1c5070;
}

.tab-group {
  display: flex;
  float: right;
  margin-right: 3em;
}


.search-custom-position {
  position: absolute;
  color: #7575a1;
  right: 170px;
  top: 36px;
}

.active-item {
  background-color: #155a85;
  opacity: 1;
}

.more-info {
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: rgba(0,0,0,0.7);
  color: #fff;
  backdrop-filter: blur(1em);
  padding: 1em 0;
}

.more-item {
  margin: 0 2em;
}

.date-picker {
  padding: 10px;
  float: right;
  display: flex;
  align-items: center;
}
.date-picker span {
  margin-right: 1em;
  font-size: 1rem;
}

.react-datepicker-wrapper input {
  height: 21px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 3px 10px;
  background: none;
  color: #fff;
  border: none;
  outline: none;
  font-family: inherit;
  border-bottom: solid 1px #fff;
  border-radius: 0;
  font-size: 1rem;
}

.react-datepicker-wrapper input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

@media only screen and (max-width: 990px) {
  .app-title {
    width: 100%;
    text-align: center;
  }
  .app-header {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1em;
    height: auto;
  } 
}

@media only screen and (max-width: 600px) {

  .app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #36617c;
    padding: 1em 0px;
    color: white;
  }

  .header-search-input {
    max-width: 8em;
  }

  .search-custom-position {
    position: relative;
    color: #a8a8d1;
    right: 23px;
    top: 2px;
  }

  .header-search-bar {
    display: flex;
    justify-content: center;
  }

  .date-picker {
    display: flex;
    justify-content: flex-end;
    float: none;
  }

  .tab-group {
    float: none;
  }
}
